@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);
body{font-family:Roboto;position:relative}
.wrapper{display:grid;grid-template-areas:"head head" "main main" "foot foot"}
.main{display:grid;grid-area:main;grid-template-areas:"main1 main2"}
.header{display:grid;grid-area:head}
.footer{display:grid;grid-area:foot;grid-template-areas:"foot1 foot2 foot3"}
.mainlogo{display:grid;grid-area:main1}
.indeximage{display:grid;grid-area:main2}
.middlemain{display:grid;grid-area:main1}
.about-bottom-phone{display:grid;grid-area:main2}
.comp1{display:grid;grid-area:main1;padding:15px}
.comp2{display:grid;grid-area:main2;padding:15px}
.contactform{display:grid;grid-area:main1}
.ourlogo{display:grid;grid-area:main2}
.table{display:grid;grid-area:main1}
.images{display:grid;grid-area:main2}
.orderformwrap{display:grid;grid-area:main1}
.map{display:grid;grid-area:main2}
body{background-color:#f5fafa}
h1{color:#1d3a52}
h2{color:#1d3a52}
h3{color:#1d3a52}
p{color:#1d3a52}
.main{background-color:#acba99}
.footer{background-color:#f3ec99}
.indeximage{width:50%;margin-left:auto}
.clubindex{width:600px}
.header{background-color:#f3ec99;padding:10px}
.spimage{display:block;flex-flow:row;width:200px;margin:15px}
.middlemain{background-color:#acba99;padding:20px}
.buttontext{display:inline;margin-left:10px}
.interestbutton{display:inline-block;margin-left:10px}
.desktop-interestbutton{background-color:#e8c5e5;width:150px;padding:5px;border-radius:3px}
.interestwrap{display:block;margin:auto}
.orderform{background-color:#f3ec99;margin:20px;height:100px}
.golfresort{width:300px;display:inline-block}
.logowrap{display:block;margin:auto}
.phonebutton{padding:10px;margin:10px;background-color:#e8c5e5;border-radius:3px}
.orderformwrap{width:80%;margin-left:40px}
.orderform{width:60%;height:60%;padding:10px}
.formtext{width:70%}
.line{margin-top:5px}
.map{margin-right:50px}
.about-bottom-phone{display:none}
.phonebutton{display:none}
.contactform{background-color:#f3ec99;margin:15px}
.contact{background-color:#acba99;margin:10px;padding:5px;width:300px}
table{background-color:#f3ec99}
td{background-color:#e8c5e5;padding:5px;border:2px #e8c5e5;border-radius:2px}
.theinput{display:none}
.thelabel{display:none}
.ddlistitem{display:inline-block;margin-left:7%;padding:10px;border:2px #e8c5e5 solid;background-color:#e8c5e5;border-radius:5px}
.Sddlistitem{display:inline-block;margin-left:7%;padding:10px;border:2px #e8c5e5 solid;background-color:#e8c5e5;border-radius:5px}
@media screen and (min-width:60em){
.map{width:300px;margin-right:100px}
.orderformwrap{width:400px}
.orderform{height:80%}
}
@media screen and (min-width:48em){
.gmap{width:400px}
.orderformwrap{width:400px}
.orderform{height:80%}
.indeximage{width:400px}
}
@media screen and (max-width:48em){
.gmap{width:300px}
.orderformwrap{width:400px}
.orderform{height:80%}
.indeximage{width:200px}
}
@media screen and (min-width:48em){
.gmap{width:300px}
.orderformwrap{width:400px}
.orderform{height:80%}
.indeximage{width:200px}
}
@media screen and (max-width:37.5em){
.wrapper{width:600px;grid-template-areas:"head" "main" "foot"}
.main{grid-template-areas:"main1" "main2"}
.middlemain{display:grid;grid-area:main1}
.about-bottom-phone{display:grid;grid-area:main2}
.images{display:grid;grid-area:main2}
.about-bottom-phone{display:block}
.desktop-interestbutton{display:none}
.Sddlistitem{display:none}
.phonebutton{display:block;width:25%}
.gmap{width:300px;margin:10px}
.orderform{width:400px}
.mainlogo{display:block;margin:auto}
.animationwrap{display:block;margin-top:40px}
.indeximage{width:50%;transform:translateX(-200px)}
.thelabel{cursor:pointer;display:inline-block;font-size:18px;padding:5px 9px;transition:all .15s ease}
.theinput:checked+.thelabel{box-shadow:inset 0 1px 2px rgba(0,0,0,.15)}
.menu{max-height:0;overflow:hidden;transition:all .15s ease}
.theinput:checked~.menu{max-height:500px}
.menuhold{list-style:none;margin:8px 0 0 0;width:100px}
.ddlistitem{margin-bottom:5px;border-bottom:2px solid #e8c5e5}
.Sddlistitem{margin-bottom:5px;border-bottom:2px solid #e8c5e5}
.dda{display:block;padding:6px 12px;text-decoration:none}
table thead{border:none;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}
table tr{border-bottom:3px solid #ddd;display:block}
table td{border-bottom:1px solid #ddd;display:block;text-align:right}
table td::before{content:attr(data-label);float:left}
.footer{display:none}
}
@media screen and (min-width:60em){
.ball{animation:boltihreyfastupp 4s forwards,boltistaekka 5s forwards}
.animationwrap{animation:boltihreyfasthlidar 4s forwards}
.animationtext{animation:textibirta 3s forwards}
.animationtext{font-size:20px;margin-left:10px}
@keyframes boltihreyfasthlidar{
0%{transform:translateX(1500px)}
100%{transform:translateX(0)}
}
@keyframes boltihreyfastupp{
0%{transform:translateY(350px)}
50%{transform:translateY(50px)}
100%{transform:translateY(100PX)}
}
@keyframes boltistaekka{
0%{width:20px}
100%{width:100px}
}
@keyframes textibirta{
0%{opacity:0}
70%{opacity:0}
100%{opacity:1}
}
}