/*Þarf að bæta við igimoon táknum og fara yfir responsive menu á stóru tölvunni*/


body{
    background-color: gray;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a:visited, a:hover, a:focus {
    text-decoration: none;
    color: #000;
}

/*Grid*/


.wrapper{
    display:grid;
    grid-template-areas: 
    "head extra menu"
    "ad page page"
    "table table form"
    "foot foot foot";
    grid-row: 20% 60% 20%;
    grid-column: 30% 15% 45%;
}

.header{
    grid-area:head;
    display: grid;
}

.logo{
    grid-area: extra;
    display:grid;
}   

.thead{
    display: grid;
    grid-area: ad;
    width:45%;
    margin-left: 80px;
}

.mainpage{
    grid-area:page;
    display:grid;
    width: 700px;
    height:320px;
    padding:40px;
    margin-top:15px;
    margin-bottom:15px;
    background-color:silver;
    border-radius:20%;
}

.menuwrapper{
    grid-area:menu;
    display:grid;
}
.footer{
    grid-area:foot;
    display:grid;
}

.tablewrap{
    display:grid;
    grid-area:table;
}

.formwrap{
    display:grid;
    grid-area:form;
}

/* extra */

.lorem{
    margin:10px;
}

.adtext{
    transform:translateY(-70px);
}

.image{
    height:140px;
    width:140px;
    margin-left:20px;
    margin-right:60px;
    transform:translateY(-60px);
}

.bigtext{
    margin-right:150px;
}

.adwrapper{
    width:80%;
    height:240px;
    padding:10px;
    margin:20px;
    background-color:silver;
    border-radius:20%;
}

.bloonboundries{
    width:80px;
    height:20px;
}

.blowupbloon{

    background-color:darkviolet;
    transform: translateX(200px);
    border-radius:5.4px;
    height: 12px;
    width: 14.4px;
}

.merki{
    margin-left:300px;
}

/*list stuff*/

.ddlistitem{
    color:blue;
    display:inline-block;
    font-size:20px;
    margin-right:100px;
    margin-top:40px;
}

.footlistitem{
    color:blue;
    display:inline-block;
    font-size:40px;
    margin-right:15%;
    margin-top:100px;
    transform:translateX(180px);
}

/* The table part*/

.captionoftable{
    font-size:30px;
    margin-bottom:5px;
}

table{
    border:1px rebeccapurple solid;
    background-color: darkgrey;
    border-radius:5px;
    width:50%;
    margin-left: 200px;
}

.soleunitD{
    border: 2px #3d3d3d solid;
    padding:10px;
    border-radius:4px;
}
.soleunitDP{
    border: 2px #3d3d3d solid;
    padding:10px;
    border-radius:4px;
}
.soleunitDM{
    border:2px #3d3d3d solid;
    border-radius:4px;
    padding:10px;
}

.soleunitH{
    color:black;
}




/* Hér kemur form hlutinn*/

.formwrap{
    background-color:silver;
    width:400px;
    height:600px;
    border-radius:5px;
}

.formtext{
    margin-left:15px;
}

form{
    margin-top:4px;
}
.forminput{
    margin-left:5px;
    margin-top:5px;
    border-radius:5px;
    height:20px;
}

.forminputphone{
    margin-left:5px;
    margin-top:5px;
    border-radius:5px;
    height:20px;
    width:70px;
}

.forminputother{
    margin-left:15px;
}

.forminputquant{
    margin-left:5px;
    margin-top:5px;
    border-radius:5px;
    height:20px;
    width:30px;
}

.formtop{
    margin-left:15px;
}

.writeself{
    margin-left:15px;
    width:70%;
    height:70px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.submit{
    display:block;
    margin:auto;
}


/* @media stuff and dropdown*/

.theinput{
    display:none;
}
.thelabel{
    display:none;
}

@media screen and (max-width:640px){
    .thelabel{
        display:initial;
    }

    body{
        background-color:red;
        width:640px;
        height:100%;
    }

/* grid in small state*/
    .wrapper{
        grid-template-areas: 
        "head head"
        "extra menu"
        "ad table"
        "page page"
        "form form"
        "foot foot";
    }

    .header{
        grid-area:head;
        display: grid;
    }
    
    .logo{
        grid-area: extra;
        display:grid;
    }   
    
    .thead{
        display: grid;
        grid-area: ad;
        width:45%;
        margin-left: 80px;
    }
    
    .mainpage{
        grid-area:page;
        display:grid;
        width: 500px;
        height:420px;
        padding:40px;
        margin-top:15px;
        background-color:silver;
        border-radius:20%;
    }
    
    .menuwrapper{
        grid-area:menu;
        display:grid;
    }
    .footer{
        grid-area:foot;
        display:grid;
    }


    /*the dropdown*/

    .theinput {
        display: none;
      }
      .thelabel {
        color: #0087cc;
        cursor: pointer;
        display: inline-block;
        font-size: 18px;
        padding: 5px 9px;
        transition: all .15s ease;
      }
      .thelabel:hover {
        color: #ff7b29;
      }
      .theinput:checked + .thelabel {
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
        color: #9799a7;
      }
      .menu {
        max-height: 0;
        overflow: hidden;
        transition: all .15s ease;
      }
      .theinput:checked ~ .menu {
        max-height: 500px;
      }
      .menuhold {
        list-style: none;
        margin: 8px 0 0 0;
        width: 100px;
      }
      .ddlistitem {
        border-bottom: 1px solid #cecfd5;
      }
      .ddlistitem:last-child {
        border-bottom: 0;
      }
      .dda{
        color: #0087cc;
        display: block;
        padding: 6px 12px;
        text-decoration: none;
      }
      .dda:hover {
        color: #ff7b29;
      }
      /*extra size fix*/

      .footlistitem{
        color:blue;
        display:inline-block;
        font-size:40px;
        margin-right:15%;
        margin-top:100px;
        transform:translateX(40px);
    }
    .merki{
        margin-left:100px;
    }
    .menuwrapper{
        margin-right:50px;
    }

/*Heres the table for responsive*/
    .captionoftable{
        color:orange;
    }

    .soleunitH{
        display:none;
    }

    .soleunitD{
        display:block;
        text-align:right;
        border-radius:0px;
    }

    .soleunitD::before{
        content: attr(data-label);
        float: left;
    }

    /*Þetta er fyrir "Top" ýttir*/
    .soleunitDP{
        display:block;
        text-align:right;
        margin-top:30px;
        border-radius:0px;
    }

    .soleunitDP::before{
        content: attr(data-label);
        float: left;
    }
    /*Þetta er fyrir "middle" border vanish*/

    .soleunitDM{
        display:block;
        text-align:right;
        border-top:none;
        border-bottom:none;
        border-radius:0px;
    }

    .soleunitDM::before{
        content: attr(data-label);
        float: left;
    }


    table{
        padding:20px;
        width:100%;
    }


/*Form innann media*/
    .formwrap{
        height:610px;
        width:70%;
        margin:auto;
    }
    
    form{
        text-align:center;
    }

    .formtext{
        margin-left:0px;
    }
    
    .formtop{
        text-align:center;
        margin-left:0px;
    }
}

/* Animations and keyframes*/

.bloon{
    display:block;
    height: 10px;
    width: 12px;
    border-radius: 5px;
    background-color: dodgerblue;
    animation: bobbing 5s ease-in-out infinite;
}

.blowupbloon{
    display:block;
    animation: blowup 2s ease-in-out 1;
}

.adtag{
    display:block;
    animation: apear 2500ms ease-in-out ;
}

.merki{
    width:150px;
    height:150px;
}

.header{
    text-align:center;
    padding-top:50px;
}


@keyframes apear {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@keyframes blowup {
    0% {
        height:2px;
        width:2.4px;
    }
    100% {
        height: 12px;
        width: 14.4px;
    }
}


@keyframes bobbing {
    16.6%{
        transform: translateY(-10px);
    }

    33.3%{
        transform: translateY(20px);
    }

    50%{
        transform: translateY(-10px);
    }

    66.6%{
        transform: translateY(-10px);
    }

    83.3%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0);
    }
}

/* animation for svg*/

.blackcircle{
    animation: move-down 500ms ease-in forwards;
    animation-delay: 2800ms;
}

.whitecircle{
    animation: move-up 500ms ease-in forwards;
    animation-delay: 2800ms;
}

.merki{
    animation: rotate 1200ms ease-in-out forwards;
    animation-delay: 1500ms;
}

@keyframes move-down{
    0% {
        transform: translateY(0px)
    }
    100% {
        transform:translateY(20px);
    }
}

@keyframes move-up{
    0% {
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-20px);
    }
}

@keyframes rotate{
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(540deg);
    }
}